<mat-card class="user-card">
  <mat-card-header>
    <img mat-card-avatar class="user-avatar" [src]="user.avatar_url">
    <mat-card-title class="user-name">{{user.name}}</mat-card-title>
    <mat-card-subtitle class="user-location">{{user.location}}</mat-card-subtitle>
    <mat-card-subtitle class="user-company">{{user.company}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="user-bio">
    <p>{{user.bio}}</p>
    <a [href]="user.blog" class="user-blog" target="_blank">{{user.blog}}</a>
  </mat-card-content>
</mat-card>